.contactList {
  list-style-position: outside;
  list-style-type: square;
}

.contactItem {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
  margin: 10px 0;
}

.contactName {
  font-weight: 600;
  text-decoration: underline;
}

.contactNumber {
  text-decoration: wavy;
}

.contactButton {
  height: 30px;
  background-color: transparent;
  border: 0;
}

.iconDelete {
  fill: black;
}

.iconDelete:hover,
.iconDelete:focus {
  transform: scale(1.1);
}

.iconFav {
  fill: red;
}

.iconFav:hover,
.iconFav:focus {
  transform: scale(1.1);
}

.iconNoFav {
  fill: grey;
}

.iconNoFav:hover,
.iconNoFav:focus {
  transform: scale(1.1);
  fill: red;
}

.showFilter {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.allButton {
  border: 1px solid black;
  border-radius: 10%;
  padding: 2px 6px;
}

.allButton:hover,
.allButton:focus {
  color: red;
  border-color: red;
}
